@media only screen and (max-width: 768px) {
  i {
    font-weight: 600 !important;
  }
  button {
    height: 48px !important;
    font-size: 17px;
  }
  .no_acc,
  .register_now {
    font-weight: 600 !important;
  }
}
