@media only screen and (max-width: 768px) {
  .danhgia {
    margin-right: 30px !important;
    margin-left: 18px !important;
  }
  .comment {
    margin-left: 10px !important;
  }
  button.btn_cmt {
    margin-left: 8px !important;
  }
}
