@media screen and (max-width: 768px) {
  .tall {
    height: 50px !important;
  }
  .box {
    padding-right: 30px !important;
    margin-left: 10px !important;
  }
  .title {
    font-size: 18px !important;
  }
  .share_save {
    margin-top: 18px;
  }
  img {
    height: 300px !important;
    /* margin-right: 25px !important; */
  }
  .taki {
    width: 50px !important;
    height: 50px !important;
  }
  .booking {
    margin-left: 8px !important;
  }
}
